pipeline/pip4_until_lookup.json
{
	"name": "pip4_until_lookup",
	"properties": {
		"activities": [
			{
				"name": "Run Until",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('Until_Flag')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait for 10 seconds",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 10
							}
						},
						{
							"name": "Lookup Excel",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Wait for 10 seconds",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "ExcelSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									}
								},
								"dataset": {
									"referenceName": "read_status_xlsx",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "Filter Status",
							"type": "Filter",
							"dependsOn": [
								{
									"activity": "Lookup Excel",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"items": {
									"value": "@activity('Lookup Excel').output.value",
									"type": "Expression"
								},
								"condition": {
									"value": "@equals(item().Prop_1,'flipdate') ",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Check Current Ststus",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Filter Status",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@equals(activity('Filter Status').output.Value[0].Prop_2,'Y')",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Reset Until Flag",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "Until_Flag",
											"value": true
										}
									}
								]
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"variables": {
			"Until_Flag": {
				"type": "Boolean",
				"defaultValue": false
			}
		},
		"annotations": []
	}
}