pipeline/pip4_until_lookup.json
{
	"name": "pip4_until_lookup",
	"properties": {
		"activities": [
			{
				"name": "Run Until",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('Until_Flag')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Wait for 10 seconds",
							"type": "Wait",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"waitTimeInSeconds": 10
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Wait for 10 seconds",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "Until_Flag",
								"value": false
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"variables": {
			"Until_Flag": {
				"type": "Boolean",
				"defaultValue": true
			}
		},
		"annotations": []
	}
}