pipeline/pip_cp_data_based_on_flag.json
{
	"name": "pip_cp_data_based_on_flag",
	"properties": {
		"activities": [
			{
				"name": "Read Table List data",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "AzureSqlTable2",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Read Table List data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Read Table List data').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(activity('Read Table List data').output.flag,'Y')",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": []
	}
}